* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin:50px;
}

.hero-home {
    width: 100%;
    height: 75vh ;
    background-image: url(/images/pexels-jacob-colvin-1757363.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    align-items: center;
}

.hero-text-home {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
}

section.intro {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

section.sources {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.one {
    background-image: url("images/pexels-pixabay-159514.jpg");
    background-size: cover;
}

.two {
    background-image: url("images/pexels-janko-ferlic-590471.png");
    background-size: cover;
}

.three {
    background-image: url("images/pexels-michael-block-3225517.jpg");
    background-size: cover;
}

section div{
    height: 30vh;
    margin:auto;
    width:28%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sources p {
    background-color: rgba(255, 255, 255, 0.75);
    padding:5px;
}

.caption {
    display: flex;
    justify-content: center;
}

.caption p {
    text-align: center;
}

.info-one {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-one div {
    width: 40%;
}

.info-two {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-two div {
    width: 40%;
}

.footer-one {
    display: flex;
    background-color: #8CC0AA;
    flex-wrap: wrap;
    width: 100%;
}

.footer-one div {
    width: 30%;
}

.page-two {
    background-color: red;
    height: 10vh;
}

.page-two a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.image1 img {
    height: 30vh;
    width: auto;
}

.hero-action {
    width: 100%;
    height: 75vh ;
    background-image: url(/images/pexels-eberhard-grossgasteiger-572897.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    align-items: center;
}

.hero-text-action {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
}

nav {
    background-color: #8CC0AA;
    display: flex;
    justify-content: right;
    height: 10vh;
}

nav div {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 10px;
}
.link{
    display: flex;
    text-align: center; 
}
.hero-text-action{
    padding: 10px;
}
.hero-text-home{
    padding: 10px;
}
.image1{
    background-image: url(/images/pexels-andrea-piacquadio-3771809.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.image2{
    background-image: url(/images/pexels-jill-wellington-40192.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    background-position: center center;
}
.info-two{
    align-items: center;
}