img {
    max-width: 100%;
}

body {
    margin: 0px;
}

.hero-home {
    width: 100%;
    height: 75vh ;
    background-image: url(/images/shley-tree-1-1920x1080.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    align-items: center;
}

.hero-text-home {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 3rem;
}

section.intro {
    display: flex;
    justify-content: center;
}

section.source {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.one {
    width: 20%;
    display: flex;

}

.two {
    width: 20%;
    display: flex;
}

.three {
    width: 20%;
    display: flex;
}

section div{
    margin:auto
    displ
}